.title {
  font-size: 38px;
  color: var(--text-color);
  margin: 43px 0;
}
.text {
  margin: 20px 0;
  max-width: 750px;
}
.textBottom {
  max-width: 750px;
}
.img {
  width: 100%;
  height: auto;
}
.cardImg {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-top: 24px;
}
.textImg {
  display: flex;
  align-items: center;
  gap: 41px;
}
.text2 {
  margin-top: 32px;
}
.textImg img {
  width: 50%;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: auto;
}
.card {
  margin-top: 50px;
}
.titleh4 {
  margin-top: 62px;
}
.textImgMini {
  padding-top: 29px;
  font-size: 1rem;
}
.fourCard {
  margin-top: 36px;
  display: flex;
  gap: 30px;
}
.fourCard img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* adaptive */

@media (max-width: 1220px) {
}
