.order-info {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.order-info--finished {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
}

.order-info--finished .order-info-item {
  justify-content: space-between;
}

.order-info-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bike-order-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
  overflow-y: auto;
  overflow-x: auto;
}

.price {
  color: var(--primary-color);
  font-weight: 700;
}

.bike-order-row {
  display: grid;
  grid-template-columns: minmax(max-content, 100px) minmax(500px, 500px) repeat(
      4,
      minmax(50px, auto)
    );
  gap: 30px;
}

.bike-order-row--finished {
  display: grid;
  grid-template-columns: minmax(min-content, max-content) 2fr minmax(
      min-content,
      max-content
    );
  gap: 40px;
}

.hidden {
  visibility: hidden;
}

.info-price-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.info-price {
  display: flex;
  flex-direction: column;
  min-width: 260px;
}

.info-price-item {
  display: flex;
  justify-content: space-between;
}

.info-price {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-form {
  display: flex;
  gap: 40px;
}

.contact-form-item {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-item-inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-last-item-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid var(--borders-color);
  padding: 20px;
  border-radius: 15px;
}

.form-last-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-item-inputs:last-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-item-inputs:last-child label {
  width: 50%;
}

.submit-btn {
  align-self: center;
}

.total-price-wrap {
  display: flex;
}

.total-price {
  margin: 40px 0 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.total-price-item {
  justify-content: space-between;
  gap: 80px;
  display: flex;
}

.finished-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  gap: 40px;
}

@media (max-width: 850px) {
  .contact-form {
    flex-direction: column;
  }
  .contact-form-item {
    width: 100%;
  }

  .order-info--finished {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 670px) {
  .finished-buttons {
    flex-direction: column;
    gap: 20px;
  }

  .finished-buttons button {
    width: 100%;
  }

  .order-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .order-info--finished {
    grid-template-columns: repeat(2, 1fr);
  }

  .order-info-item {
    flex-basis: 50%;
  }

  .order-info--finished .order-info-item {
    flex-basis: unset;
  }

  .info-price-wrap {
    width: 100%;
    flex-direction: column;
    gap: 20px;
  }

  .info-price-wrap button {
    order: 2;
    align-self: flex-start;
  }

  .info-price {
    width: 100%;
    order: 1;
  }

  .form-item-inputs {
    display: flex;
    flex-direction: unset;
    justify-content: space-between;
    align-items: center;
  }

  .bike-order-row {
    grid-template-columns: minmax(max-content, 100px) minmax(300px, 300px) repeat(
        4,
        minmax(50px, auto)
      );
  }
}

@media (max-width: 460px) {
  .bike-order-row {
    grid-template-columns: minmax(max-content, 100px) minmax(200px, 200px) repeat(
        4,
        minmax(50px, auto)
      );
  }

  .order-info {
    grid-template-columns: repeat(1, 1fr);
  }

  .order-info--finished {
    grid-template-columns: repeat(1, 1fr);
  }

  .form-item-inputs {
    flex-direction: column !important;
  }

  .form-item-inputs:last-child label {
    width: 100%;
  }
}
