
.cardBlock {
    position: relative;
    max-width: 260px;
    padding: 50px 0 0 0;
    margin-top: 120px;
}
.bike{
    width: 100%;
    height: auto;
    position: absolute;
    top: -70px;
    

}
.textcard{
/*font-family: 'Montserrat' ; */
    background: #ffffff;
font-size: 0.6875rem;
    padding: 24px 24px 21px ;
    border-radius: 15px;
    
}

.textprice{
    color: #297FFF;
    padding: 22px 1px;
  display: flex;
  align-items: center;
    font-weight: 800;

    
}
.card-info{
    display: flex;
    align-items: center;

    justify-content: space-between;
    gap: 10px;
}

.card-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}