*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #297fff;
    --primary-hover-color: #005eff;

    --bg-color: #f2f4f7;
    --borders-color: #dde3eb;
    --captions-color: #abb1c5;
    --text-box-color: #737b98;
    --text-color: #14233d;
    --bg-footer: #272934;

    --max-width: 1240px;

    --big-title-size: 4.375rem;
    --medium-title-size: 3.75rem;
    --subtitle-size: 2.5rem;
    --main-text-size: 1.875rem;
    --caption-size: 1.25rem;
    --link-size: 1rem;
}

a {
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

a:hover {
    color: var(--primary-hover-color);
    text-decoration: underline;
}
p {
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;

    color: var(--text-color);
}
ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color);
}

ul {
    list-style: none;
}
.container {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 10px 20px;
}

.card {
    background: #f2f4f7;
    border-radius: 20px;
    padding: 50px 40px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
}

.overlay.active {
    visibility: visible;
    opacity: 1;
}
