.tooltip {
    position: relative;
    display: inline-flex;
}

.tooltip input {
    display: none;
}

.tooltip span {
    display: inline-flex;
    border: 2px solid var(--primary-color);
    padding: 10px;
    border-radius: 10px;
    color: var(--primary-color);
    transition: 0.2s;
}

.tooltip span:hover {
    cursor: pointer;
    background: var(--primary-color);
    color: #fff;
}

.tooltip span.active {
    background: var(--primary-color);
    color: #fff;
}

.tooltipContent {
    width: max-content;
    max-width: 260px;
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
    background: #ffffff;
    border: 1px solid var(--borders-color);
    border-radius: 2px;
    padding: 10px 24px;
    border-radius: 10px;
    z-index: 101;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
}

.tooltipContent::before,
.tooltipContent::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -20px;
    border: 10px solid transparent;
    border-bottom: 10px solid var(--borders-color);
}
.tooltipContent::after {
    border-bottom: 10px solid white;
    top: -19px;
}

.tooltipContent.active {
    visibility: visible;
    opacity: 1;
}

.account {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.account a {
    color: var(--text-color);
}
.account a:hover {
    color: var(--text-color);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;

    display: none;
}

.overlay.active {
    display: block;
}
