.card-main-wrap {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.header-banner-wrap {
    display: flex;
    align-items: center;
}

.card-title {
    font-size: 48px;
    font-weight: 600;
    flex-basis: 40%;
}

.header-banner {
    display: flex;
    align-items: center;
    flex-basis: 60%;
}

.header-banner-item {
    width: 100%;
    height: auto;
}

.header-banner-item {
    position: absolute;
    top: 0;
    width: 300px;
    height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.header-banner-item:nth-child(1) {
    background: url('/img/header-banner-item1.svg') no-repeat;
}
.header-banner-item:nth-child(2) {
    background: url('/img/header-banner-item2.svg') no-repeat;
}
.header-banner-item:nth-child(3) {
    background: url('/img/header-banner-item3.svg') no-repeat;
}
