.header {
    display: flex;
}

.logo {
    max-width: 66px;
}

.nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navContainer {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 20px 40px;
}

.mobileNavContainer {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navLink {
    color: var(--text-color);
}

.navLink.active {
    color: var(--primary-color);
    font-weight: 700;
}

.navLink:hover {
    text-decoration: none;
}

.controls {
    display: flex;
    align-items: center;
    gap: 20px;
}

.phone {
    font-weight: 700;
}

.navTime {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navTime span {
    font-weight: 500;
    color: var(--text-color);
    font-size: 14px;
}

.hamburger {
    display: none;
}

/* Modal */

@media (max-width: 1200px) {
    .navContainer {
        align-items: start;
    }

    .mobileNavContainer {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .controls {
        margin-left: auto;
        order: 2;
    }

    .logo {
        order: 1;
    }

    .nav {
        order: 3;
    }

    .navTime {
        width: max-content;
    }
}

@media (max-width: 768px) {
    .navContainer {
        position: relative;
        width: 100vw;
        gap: 10px;
    }

    .logo {
        margin-right: auto;
        z-index: 13;
    }
    .navTime {
        margin-left: auto;
    }

    .mobileNavContainer {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100vw;
        height: 100%;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: start;
        background: #fff;
        z-index: 11;

        transition: 0.2s;
        transform: translateX(100%);
    }

    .mobileNavContainer .nav {
        padding: 40px;
        align-items: start;
        flex-direction: column;
        gap: 40px;
        order: 1;
    }

    .mobileNavContainer .nav a {
        font-size: 24px;
    }

    .mobileNavContainer .controls {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: unset;
        padding: 40px;
    }

    .logo,
    .navTime {
        z-index: 15;
    }

    .mobileNavContainer.active {
        transform: translateX(0);
    }
}
