.radio-button {
  background: #fff;
  border: 1px solid var(--borders-color);
  padding: 15px;
  border-radius: 15px;
  width: 100%;
}

.radio-button:hover {
  cursor: pointer;
}

.radio-button-content {
  display: flex;
  align-items: center;
  gap: 25px;
  width: 100%;
}

.radio-button input {
  display: none;
}

.radio-innter-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.radio {
  position: relative;
  display: inline-flex;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid var(--borders-color);
}

.radio-button-content input:checked ~ .radio::before {
  content: "";
  position: absolute;
  display: inline-flex;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--primary-color);
}
